<header [class.scrolled]="scrolled">
  <nav>
    <div class="logo">Eduardo Tristão Melo</div>

    <button class="menu-toggle" (click)="menuOpen = !menuOpen">
      ☰
    </button>

    <ul [class.open]="menuOpen">
      <li><a routerLink="/" routerLinkActive="active" (click)="menuOpen=false">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active" (click)="menuOpen=false">Projetos</a></li>
      <li><a routerLink="/curriculo" routerLinkActive="active" (click)="menuOpen=false">Currículo</a></li>

      <li class="external">
        <a href="https://github.com/HadesKerbecs" target="_blank">GitHub</a>
      </li>
      <li class="external">
        <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      </li>
    </ul>
  </nav>
</header>
