<header [class.scrolled]="scrolled">
  <nav>
    <div class="logo">Eduardo Tristão Melo</div>

    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projetos</a></li>
      <li><a routerLink="/curriculo" routerLinkActive="active">Currículo</a></li>

      <li class="external">
        <a href="https://github.com/HadesKerbecs" target="_blank">GitHub</a>
      </li>
      <li class="external">
        <a href="https://www.linkedin.com/in/eduardotm22" target="_blank">LinkedIn</a>
      </li>
    </ul>
  </nav>
</header>
