@use '../../../styles/variables' as *;

.card {
  background: $bg-card;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .3s ease;

  &:hover {
    transform: translateY(-6px);
  }
}

.card-actions {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.card-actions a,
.card-actions button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.info {
  padding: 1rem;

  h3 {
    font-size: 1rem;
    margin-bottom: .4rem;
  }

  p {
    font-size: .9rem;
    opacity: .85;
  }
}
