<div class="overlay" @overlay (click)="closeModal()">
  <div class="modal" @modal (click)="$event.stopPropagation()">
    <button class="close" (click)="closeModal()">×</button>

    <div class="image-hero">
      <img [src]="project.image" [alt]="project.title" />
    </div>

    <div class="content">
      <h2>{{ project.title }}</h2>
      <p class="description">{{ project.longDescription }}</p>

      <ul class="tech">
        <li *ngFor="let tech of project.technologies">{{ tech }}</li>
      </ul>

      <div class="actions">

        <a *ngIf="project.demo" [href]="project.demo" target="_blank" class="btn-demo">
          🚀 Ver sistema
        </a>

        <a *ngIf="project.github" [href]="project.github" target="_blank" class="btn-github">
          💻 Ver código
        </a>

      </div>
    </div>
  </div>
</div>